:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Sen Variable', sans-serif;


  /* Color Theme Swatches in Hex */
  --colour-white     : #F2BA52;
  --colour-light     : #D98B48;
  --colour-highlight : #BF5934;
  --colour-dark      : #593122;
  --colour-shadow    : #8C2C23;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




main {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  justify-content: space-around;
}
body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

h1 {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: large;
  text-transform: uppercase;
  margin-inline-start: 0;
  margin-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}


button {
  font-family: inherit;
  font-weight: 700;
  font-size: large;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  h1{
    font-size: 3em;
  }
}

.corner-button{
	display: flex;
	flex-grow: 0;
	align-items: center;
  border: 0 solid white;
	padding: 0.4em 0.4em;
  box-shadow: 0 0 0 0;
  background-color: #ffffff50;
}

.corner-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 2px;
  left: 2px;
}