:root {
  font-family: UnifrakturCook, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  /* Color Theme Swatches in Hex */
  --colour-white     : #F2BA52;
  --colour-light     : #D98B48;
  --colour-highlight : #BF5934;
  --colour-dark      : #593122;
  --colour-shadow    : #8C2C23;

  color: var(--colour-light);
  background-color: var(--colour-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




main {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  justify-content: space-around;
}
body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--colour-light);
  color: var(--colour-dark)
}
button.icon {
  padding: 0em 0em;
}
button:hover {
  border-color: var(--colour-shadow);
}


